@charset "UTF-8";

@media screen and (max-width: 1230px){

  #header .wrap { width: 100%; }
  #header .wrap .gap { padding: 0 30px; }

  #header .wrap .gap .container .search-area .search-rows .search-row02 {
    position: relative;
    width: 100%;
    height: 46.2068%;/*335px/725*/
    background-color: #fff;
  }
  #header .wrap .gap .container .search-area .search-rows .search-row02 .row02-contents { padding: 0 20px; }
  #header .wrap .gap .container .search-area .search-rows .search-row02 .row02-contents .search-col {
    padding: 4.6218% 0 5.2100%;/*1190px*/
    width: 50%;
  }
  #header .wrap .gap .container .search-area .search-rows .search-row02 .row02-contents .search-tags { padding-right: 4.2016%; }
  #header .wrap .gap .container .search-area .search-rows .search-row02 .row02-contents .search-tags .tag {
    margin-right: 2.2218%;/*12px/(595-50)*/
    padding: 0.7339% 2.7552%;
    font-size: 14px;
    line-height: 200%;
  }
  #header .wrap .gap .container .search-area .search-rows .search-row02 .row02-contents .search-event li {
    width: 48.7394%;/*300px/(1190/2)*/
    height: 71.4893%
  }
  #header .wrap .gap .container .search-area .search-rows .search-row02 .row02-contents .search-event li a p { 
    font-size: 17px;
    line-height: 160%;
    white-space: normal;
  }

  #main section .wrap { width: 100%; }
  #main section .wrap .gap { padding: 0 30px; }
  #main section .wrap .gap .container { width: 100%; }
  
  #main #section01 .wrap .gap .container .section01-col01 { width: 65.04650465%; }/*800px/1230*/
  #main #section01 .wrap .gap .container .culture { width: 21.95129512%; }/*270/1230px*/
  #main #section01 .wrap .gap .container .culture .link-box .link-list .link-item {
    width: 100%;
    height: 75px;
  }
  #main #section03 .wrap .gap .container .event-wrap { 
    position: relative; 
    width: 100%; 
    padding-bottom: 27.35042735%; 
  }
  #main #section03 .wrap .gap .container .event-wrap .event-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 48.71794871%;/*{(1230-60-30)/2}/(1230-60)*/
    /*height: 320px;*/
    height: 100%;
  }
  #main #section03 .wrap .gap .container .event-wrap .event-box02 { left: 51.28358966%; } /*width + margin-right*/
  /*#main #section03 .wrap .gap .container .event-wrap .event-box01 { margin-right: 2.56410256%;}*//*30px/(1230px-60)*/
  #main #section03 .wrap .gap .container .event-wrap .event-box .event-link { position: relative; padding: 0; }
  #main #section03 .wrap .gap .container .event-wrap .event-box .event-link .event-text {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5.78947368% 5.26315789%;/*33px/570 30px/570*/
    width: 100%;
    height: 50%;
    font-size: 3.85964912%;/*22px/570*/
    line-height: 60px;
    text-align: left;
    color: #fff;
  }
  #main #section03 .wrap .gap .container .event-wrap .event-box .event-link .event-text p { font-size: 18px; }
  /*-----footer-----*/
  #footer .wrap { width: 100%; }
  #footer .wrap .gap { padding: 0 30px; }
}

@media screen and (max-width: 980px) {
  
  /*-----header-----*/
  #header { height: 53px; }
  #header .wrap .gap { padding: 6px 20px 7px; }
  #header .wrap .gap .container { line-height: 35px; }
  #header .wrap .gap .container .logo-wrap { height: 100%;}
  
  /*-----main-----*/
  #main,
  #main section { 
    padding-bottom: 40px; 
  }
  #main section .wrap .gap { padding: 0 20px; }


  #main #section01 { 
    margin-top: 53px;/*header height*/
    padding-top : 16px; 
  }

  #main #section02 { padding-top: 40px; }
  #main #section03,
  #main #section04 { padding-top: 43px; }
  
  #footer .wrap .gap { padding: 32px 20px; }
  
}

@media screen and (max-width: 780px) {
  #main #section03 .wrap .gap .container .event-wrap {
    position: relative;
    width: 100%; 
    padding-bottom: 125.67567567%;/*930px/(780-40)*/
  }
  #main #section03 .wrap .gap .container .event-wrap .event-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 49.49536559%;/*460px/930*/
  }
  #main #section03 .wrap .gap .container .event-wrap .event-box02 { top: 50.53763440%; }
  #main #section03 .wrap .gap .container .event-wrap .event-box .event-link .event-text {
    top: 0;
    padding: 17px 15px;
    height: auto;
    font-size: 17px;
    line-height: 32px;
  }
  #main #section03 .wrap .gap .container .event-wrap .event-box .event-link .event-text p { font-size: 13px; }
}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 480px) {
  #header .wrap .gap .container .mobile-gnb-menu .mobile-menu-btn { right: -18px;/*-40px+22px*/ }
  #header .wrap .gap .container .mobile-gnb-menu .mobile-menu-btn .mobile-btn-bar { background-color: #000; }
}

@media screen and (max-width: 350px) {
  
}